@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://wallpapercave.com/wp/wp5539373.jpg');
  background-position: top;
  font-family: 'Aldrich';
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #cc0066, 0 0 20px #cc0066, 0 0 25px #cc0066, 0 0 30px #cc0066, 0 0 35px #cc0066;
}

h4 {
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #cc0099, 0 0 20px #cc0099, 0 0 25px #cc0099, 0 0 30px #cc0099, 0 0 35px #cc0099;
}

h3 {
  text-align: center;
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white;
}

form {
  text-align: center;
}

.success {
  text-align: center;
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white;
}

.failed {
  text-align: center;
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white;
}

.box {
  // height: 200px;
  // width: 200px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  min-height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-shadow: 2px 2px rgba(0 , 0, 0, .25);
  font-size: 15vh;
  user-select: none;
  &:nth-child(3n) {
    border-right: 0;
  }
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  &:hover {
    background-color: Red;
  }
}

.container {
  height: 100vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}
