@import '~bootstrap/scss/bootstrap';

body {
  background-color: red
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  text-align: center;
}

.box {
  // height: 200px;
  // width: 200px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  min-height: calc(100% / 3);
}

.container {
  height: 100vh;
}

.board {
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}
